
<div class="container mt-5">
  <div class="about-us-container p-4 rounded" style="background-color: #f7f7f7;">
      <h2 class="about-us-title">About Us</h2>
      <p class="about-us-content">

          welcome to our Cafe!! Our Cafe is a place where people visit to eat and drink the food being prepared on the premises and pays for the same. The food is served at the table to have a comfortable visit for your items. The cafe offers a menu with various options for your items, to choose from.
      </p>
      <p class="about-us-content">
          Sitting in a cafe watching people walk by can be an interesting way to spend time. Some people really enjoy it because it makes them feel as if they were a part of other people's life stories. Cafe quotes show us that the friendly atmosphere at cafes helps people be more sociable and lively, so cafes can be a great place for hanging out with your friends.
      </p>
      <p class="about-us-content">
          Thank you for choosing us to be a part of your dining experience. We look forward to serving you and creating lasting memories together.
      </p>
  </div>
</div>
