<div class="container">
    <div class="center-title">
        <h2 class="text-white">Our food menu</h2>
        <p class="text-white-gray">Best chefs team serve better to our valuable customers</p>
    </div>
    <div class="food-menu-card">
        <div>
  
            <!-- Nav tabs -->
            <h6>Baklawa Cafe-special-Menu</h6>
 

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="breakfast">
                    <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="assets\bur.jpg" alt="Menu title">

                                   
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Burger</h3>
                            
                                        <div class="align-self-center">
                                            <strong class="text-white font700">$100</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">HamBurger</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                            <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="assets\macaron.jpg" alt="Menu title">

                                   
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Macarons</h3>
                            
                                        <div class="align-self-center">
                                            <strong class="text-white font700">$80</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Meringue</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                            <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="assets\coffee.jpg" alt="Menu title">

                                   
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Cofee</h3>
                            
                                        <div class="align-self-center">
                                            <strong class="text-white font700">$110</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Hot, Cold, Iced Cofees</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                            
                            <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="assets\pizza.jpg" alt="Menu title">

                                   
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Pizza</h3>
                            
                                        <div class="align-self-center">
                                            <strong class="text-white font700">$150</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Pie</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                            
                               
                            </div>
                            </div>
                            