<!DOCTYPE html>
<html>

<head>
  <title>Baklawa-Cafe Restro</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Add custom styles for left sidebar */
    #left-sidebar {
      background-color: #4c4f52;
      min-height: 100vh;
    }

    /* Adjust padding for left sidebar */
    #left-sidebar .nav-item {
      padding: 5px 15px;
    }

    /* Set max width for the content area */
    #content-area {
      max-width: calc(100% - 250px); /* Adjust as needed */
    }
    .footer {
      background-color: #f0e0e0;
      color: #f6f6f9;
      text-align: center;
      padding: 10px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Left Sidebar Navigation -->
      <div class="col-md-2" id="left-sidebar">

            <ul class="nav flex-column">
              <li class="nav-item">
                <a *ngIf="!adminLogin.isAdminLoggedIn()&&!userLogin.isUserLoggedIn()" routerLink="adminlogin" class="nav-link text-white" routerLinkActive="active">Admin</a>

            <li class="nav-item">
              <a  *ngIf="adminLogin.isAdminLoggedIn()" routerLink="adminhome" class="nav-link text-white" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a  *ngIf="adminLogin.isAdminLoggedIn()" routerLink="menu-list" class="nav-link text-white" routerLinkActive="active">Menu</a>
            </li>
            <li class="nav-item">
              <a  *ngIf="adminLogin.isAdminLoggedIn()" routerLink="add-menu" class="nav-link text-white" routerLinkActive="active">Add-Menu</a>
            </li>

            <li class="nav-item">
            <a *ngIf="adminLogin.isAdminLoggedIn()" routerLink="addtables" class="nav-link text-white" routerLinkActive="active">Add Tables</a>
            <li class="nav-item">
              <a  *ngIf="adminLogin.isAdminLoggedIn()" routerLink="confirmation" class="nav-link text-white" routerLinkActive="active">ConfirmReservations</a>
            </li>

            <li class="nav-item">
              <a *ngIf="adminLogin.isAdminLoggedIn()" routerLink="adminlogout" class="nav-link text-white" routerLinkActive="active">Logout</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && !userLogin.isUserLoggedIn()" routerLink="userlogin" class="nav-link" routerLinkActive="active">User</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && !userLogin.isUserLoggedIn()" routerLink="userregister" class="nav-link" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="userpage" class="nav-link" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="searchtable" class="nav-link" routerLinkActive="active">Search Tables</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="viewtable" class="nav-link" routerLinkActive="active">Reserved Tables</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="user-menu-list" class="nav-link" routerLinkActive="active">Menu</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="contact-us" class="nav-link" routerLinkActive="active">contactus</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="aboutus" class="nav-link" routerLinkActive="active">Aboutus</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="menuitem" class="nav-link" routerLinkActive="active">Specialitem</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="gallery" class="nav-link" routerLinkActive="active">Gallery</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="update-profile" class="nav-link" routerLinkActive="active">UpdateProfile</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!adminLogin.isAdminLoggedIn() && userLogin.isUserLoggedIn()" routerLink="userlogout" class="nav-link" routerLinkActive="active">logout</a>
            </li>

              <!-- Add more user navigation links here -->
            </ul>
          </div>

      <!-- Main Content Area -->
      <div class="col-md-10" id="content-area">

        
              <router-outlet></router-outlet>
            
      </div>
    </div>
  </div>
</body>

</html>