<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Menu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    #add-menu {
      /* background-image: url('assets/admin2.jpg');  */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh;
    }
    .form-group label {
      font-weight: bold;
      color: rgb(29, 27, 27);
    }


    
  </style>
</head>
<body>
  <div id="add-menu" class="container-fluid">
    <div class="col-md-6 offset-md-3 mt-4">
      <h3 style="background-color: rgb(177, 105, 11);" class="text-center text-light">Add Menu</h3>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="menu.name" name="name">
        </div>

        <div class="form-group">
          <label for="ItemPrice">Price</label>
          <input type="text" class="form-control" id="ItemPrice" [(ngModel)]="menu.itemPrice" name="ItemPrice">
        </div>

        <div class="form-group">
          <label for="Description">Description</label>
          <input type="text" class="form-control" id="Description" [(ngModel)]="menu.description" name="Description">
        </div>

        <div class="form-group">
          <label for="Status">Status</label>
          <input type="text" class="form-control" id="Status" [(ngModel)]="menu.status" name="Status">
        </div>
        
        <div class="text-center">
          <button class="btn btn-success" type="submit">Submit</button>
        </div>
      </form>

      <!-- Success message alert -->
      <div class="alert alert-success mt-3" *ngIf="successMessage">
        {{ successMessage }}
      </div>
    </div>
  </div>
</body>
</html>
